    <footer class="footer">
      <div class="container">
        <div class="col-sm-11">
          <p class="text-center">Ⓒ 2017 s25g5d4. Your IP is <%= site.ip %>.</p>
        </div>
      </div>
    </footer>
  </body>
</html>